openapi: 3.0.1
info:
  title: Template API Spec
  description: APIs for the template example
  version: "1.0"

servers:
  - url: https://development.template_server.com
    description: Server endpoint

tags:
  - name: DateTime
    description: DateTime related endpoints
  - name: Operations
    description: Operations related endpoints

components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: awsSigv4
      description: IAM access. Used by internal infrastructure, like cognito and lambdas
    cognitoAuth:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: cognito_user_pools
      x-amazon-apigateway-authorizer:
        type: cognito_user_pools
        providerARNs:
          - "${USERPOOL_ARN}"

#  Unfortunately, only supported on httpApiGw and not on restApiGw (https://github.com/awsdocs/amazon-api-gateway-developer-guide/issues/65). Hail code duplication...
#  x-amazon-apigateway-integrations:
#    lambda:
#      type: aws_proxy
#      httpMethod: POST
#      uri: "${LAMBDA_INVOCATION_URI}"
#      passthroughBehavior: "when_no_match"

  requestBodies:
    operationsRequest:
      description: The request body for an operation call
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/operationsRequestSchema'

  responses:
    operationsResponse:
      description: The response of an operation call
      content:
        application/json:
          schema:
            type: object
            required:
              - result
            properties:
              result:
                type: number
                format: double
                description: The result of the operation
    success:
      description: Operation has completed successfully

  schemas:
    operationsRequestSchema:
      type: object
      required:
        - first
        - second
      properties:
        first:
          type: number
          format: double
          description: the first number
        second:
          type: number
          format: double
          description: the second number

paths:
  /datetime:
    get:
      operationId: get_datetime
      tags:
        - DateTime
      description: Retrieves the api current date time
      security: [] # No Security, anyone can call
      responses:
        '200':
          description: Operation has completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: date-time
                    readOnly: true
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${LAMBDA_INVOCATION_URI}"
        passthroughBehavior: "when_no_match"

  /addition:
    post:
      operationId: post_addition
      tags:
        - Operations
      description: Calculates the addition of 2 numbers
      security:
        - cognitoAuth: []
      requestBody:
        $ref: '#/components/requestBodies/operationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/operationsResponse'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${LAMBDA_INVOCATION_URI}"
        passthroughBehavior: "when_no_match"

  /subtraction:
    post:
      operationId: post_subtraction
      tags:
        - Operations
      description: Calculates the subtraction of 2 numbers
      security:
        - cognitoAuth: []
      requestBody:
        $ref: '#/components/requestBodies/operationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/operationsResponse'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${LAMBDA_INVOCATION_URI}"
        passthroughBehavior: "when_no_match"

  /multiplication:
    post:
      operationId: post_multiplication
      tags:
        - Operations
      description: Calculates the multiplication of 2 numbers
      security:
        - cognitoAuth: []
      requestBody:
        $ref: '#/components/requestBodies/operationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/operationsResponse'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${LAMBDA_INVOCATION_URI}"
        passthroughBehavior: "when_no_match"

  /division:
    post:
      operationId: post_division
      tags:
        - Operations
      description: Calculates the division of 2 numbers
      security:
        - sigv4: []
      requestBody:
        $ref: '#/components/requestBodies/operationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/operationsResponse'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${LAMBDA_INVOCATION_URI}"
        passthroughBehavior: "when_no_match"
