openapi: 3.0.1
info:
  title: Template API Spec
  description: APIs for the template example
  version: "1.0"

servers:
  - url: https://development.template_server.com/v1
    description: Development server
  - url: https://staging.template_server.com/v1
    description: Staging server
  - url: https://api.template_server.com/v1
    description: Production server

tags:
  - name: DateTime
    description: DateTime related endpoints
  - name: Operations
    description: Operations related endpoints

components:
  securitySchemes:
    iam_auth:
      type: apiKey
      in: header
      name: x-amz-security-token
      x-amazon-apigateway-authtype: 'awsSigv4'
      description: 'IAM access. Used by internal infrastructure, like cognito and lambdas'
    user_auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/authorize
          tokenUrl: /oauth2/token
          scopes:
            openid: Grants openid profile
            profile: Grants auth2 profile
            email: Grants auth2 email scope
      description: 'User authenticated access'

  requestBodies:
    operations_request:
      description: The request body for an operation call
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/two_numbers_schema'

  responses:
    operations_response:
      description: The response of an operation call
      content:
        application/json:
          schema:
            type: object
            required:
              - result
            properties:
              result:
                type: number
                format: double
                description: The result of the operation
    success:
      description: Operation has completed successfully
    problem:
      description: Client Error
      headers:
        Content-Language:
          schema:
            description: Describes the natural language of the intended audience for the representation (see [RFC 72310](https://tools.ietf.org/html/rfc7231#section-3.1.3.2))
            type: string
            example: en-US
      content:
        application/problem+json:
          schema:
            type: object
            description: Follows the application/problem+json definition (see [RFC 7807](https://tools.ietf.org/html/rfc7807)).
            properties:
              type:
                description: An absolute URI reference (see [RFC 3986](https://tools.ietf.org/html/rfc3986)) that identifies the problem type.
                type: string
              title:
                description: A short, human-readable summary of the problem type.
                type: string
              status:
                description: The HTTP status code (see [RFC 7231, Section 6](https://tools.ietf.org/html/rfc7231#section-6)) generated by the origin server for this occurrence of the problem.
                type: number
                format: int32
                minimum: 100
                maximum: 600
                exclusiveMaximum: true
              detail:
                description: A human-readable explanation specific to this occurrence of the problem.
                type: string
              instance:
                description: A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if de-referenced.
                type: string
          example:
            title: Not Found
            status: 404
  schemas:
    two_numbers_schema:
      type: object
      required:
        - first
        - second
      properties:
        first:
          type: number
          format: double
          description: the first number
        second:
          type: number
          format: double
          description: the second number

paths:
  /datetime:
    get:
      operationId: get_datetime
      tags:
        - DateTime
      description: Retrieves the api current date time
      security: [] # No Security
      responses:
        '200':
          description: Operation has completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: date-time
                    readOnly: true
        '4XX':
          $ref: '#/components/responses/problem'

  /addition:
    post:
      operationId: post_addition
      tags:
        - Operations
      description: Calculates the addition of 2 numbers
      security:
        - user_auth: [ profile, openid, email ]
      requestBody:
        $ref: '#/components/requestBodies/operations_request'
      responses:
        '200':
          $ref: '#/components/responses/operations_response'
        '4XX':
          $ref: '#/components/responses/problem'

  /subtraction:
    post:
      operationId: post_subtraction
      tags:
        - Operations
      description: Calculates the subtraction of 2 numbers
      security:
        - user_auth: [ profile, openid, email ]
      requestBody:
        $ref: '#/components/requestBodies/operations_request'
      responses:
        '200':
          $ref: '#/components/responses/operations_response'
        '4XX':
          $ref: '#/components/responses/problem'

  /multiplication:
    post:
      operationId: post_multiplication
      tags:
        - Operations
      description: Calculates the multiplication of 2 numbers
      security:
        - user_auth: [ profile, openid, email ]
      requestBody:
        $ref: '#/components/requestBodies/operations_request'
      responses:
        '200':
          $ref: '#/components/responses/operations_response'
        '4XX':
          $ref: '#/components/responses/problem'

  /division:
    post:
      operationId: post_division
      tags:
        - Operations
      description: Calculates the division of 2 numbers
      security:
        - iam_auth: [ ]
      requestBody:
        $ref: '#/components/requestBodies/operations_request'
      responses:
        '200':
          $ref: '#/components/responses/operations_response'
        '4XX':
          $ref: '#/components/responses/problem'
