openapi: 3.0.1
info:
  title: Template API Spec
  description: APIs for the template example
  version: "1.0"

servers:
  - url: https://development.template_server.com/v1
    description: Server endpoint

tags:
  - name: DateTime
    description: DateTime related endpoints
  - name: Operations
    description: Operations related endpoints

components:
  securitySchemes:
    iamAuth:
      type: apiKey
      in: header
      name: x-amz-security-token
      x-amazon-apigateway-authtype: 'awsSigv4'
      description: 'IAM access. Used by internal infrastructure, like cognito and lambdas'
    userAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/authorize
          tokenUrl: /oauth2/token
          scopes:
            openid: Grants openid profile
            profile: Grants auth2 profile
            email: Grants auth2 email scope

  requestBodies:
    operationsRequest:
      description: The request body for an operation call
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/operationsRequestSchema'

  responses:
    operationsResponse:
      description: The response of an operation call
      content:
        application/json:
          schema:
            type: object
            required:
              - result
            properties:
              result:
                type: number
                format: double
                description: The result of the operation
    success:
      description: Operation has completed successfully

  schemas:
    operationsRequestSchema:
      type: object
      required:
        - first
        - second
      properties:
        first:
          type: number
          format: double
          description: the first number
        second:
          type: number
          format: double
          description: the second number

paths:
  /datetime:
    get:
      operationId: get_datetime
      tags:
        - DateTime
      description: Retrieves the api current date time
      security: [] # No Security
      responses:
        '200':
          description: Operation has completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: date-time
                    readOnly: true

  /addition:
    post:
      operationId: post_addition
      tags:
        - Operations
      description: Calculates the addition of 2 numbers
      security:
        - userAuth: [ profile, openid, email ]
      requestBody:
        $ref: '#/components/requestBodies/operationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/operationsResponse'

  /subtraction:
    post:
      operationId: post_subtraction
      tags:
        - Operations
      description: Calculates the subtraction of 2 numbers
      security:
        - userAuth: [ profile, openid, email ]
      requestBody:
        $ref: '#/components/requestBodies/operationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/operationsResponse'

  /multiplication:
    post:
      operationId: post_multiplication
      tags:
        - Operations
      description: Calculates the multiplication of 2 numbers
      security:
        - userAuth: [ profile, openid, email ]
      requestBody:
        $ref: '#/components/requestBodies/operationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/operationsResponse'

  /division:
    post:
      operationId: post_division
      tags:
        - Operations
      description: Calculates the division of 2 numbers
      security:
        - iamAuth: [ ]
      requestBody:
        $ref: '#/components/requestBodies/operationsRequest'
      responses:
        '200':
          $ref: '#/components/responses/operationsResponse'
